[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
python-dotenv = "*"
psycopg2 = "*"
pyspark = "*"

[dev-packages]

[requires]
python_version = "3.11"
